.menu-item{
  background-color:rgba(245, 245, 245, 0.562);
}

.menu-item-one{
  grid-column: 1/5;
}
.menu-item-two{
  grid-column: 5/9;
}
.menu-item-three{
  grid-column: 9/-1;
}
.menu-item-four{
  grid-column: 1/7;
}
.menu-item-five{
  grid-column: 7/-1;
}

.menu-item{
  // display:grid;
  transition: 2s all;
  overflow: hidden;
}

.bgImage{
  width:100%;
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1.5s all;
  &:hover{
    transform: scale(1.1);
  }

}


.menu-item-small{
  height:200px;
}
.menu-item-big{
  height:300px;
}

.content{
  text-align: center;
  width:100%;
  height:100%;
  position: relative;
  transition: 2s all;

}

.contentContainer{
  background-color:rgba(235, 235, 235, 0.719);
  // display:inline-block;
  position: absolute;
  // top:0;
  // left:0;
  left: 50%;
  top: 50%;
  // border-radius: 50%;
  transform: translate(-50%, -50%);

  & h1{
    margin:0;
    padding:0;
  }
}
.contentContainer-small{
  margin-top:20px;
    padding:0px 20px 10px 20px;
}
.contentContainer-big{
    padding:20px 40px 20px 40px;
}